

body {
    background-color: #bbfaff;
}

.principal {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 120px 1040px 180px;
    grid-template-areas: "cabecalho cabecalho" 
                         "secao barra-lateral" 
                         "rodape rodape";
   flex-wrap: wrap;
   box-sizing: border-box;
}


/* Cabeçalho */
header {
    grid-area: cabecalho;
    display: flex;
    height: 100%;
    background-color: #35034d;
    
}

/* Separações do Cabeçalho */

.fun0 {
    width: 10%;
    display: flex;
    flex-wrap: wrap;
}

.fun1 {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
   
}

.cabecalhos {
    margin: auto;
    font-size: 18px;
    margin-top: 7%;
}

/* Barra de Conteudo */
section {
    grid-area: secao;
    width: 120%;
    height: 100%;
    background-color: #99f1ed;
 }

 /* Barra secundário conteudos */
 aside {
    grid-area: barra-lateral;
    background-color: #5cd9e2;
 }

 /* Estilização Textos */

 h1, a {
    color: #ffffff;
    text-decoration: none;
    
 }

 p {
    color: #000000;
    margin-left: 1%;
 }

 h3 {
   color: #000000;
   margin-left: 25%;
}

 h2 {
   margin-left: 10%;
 }
  /* Rodapé*/
  footer {
   grid-area: rodape;
   grid-area: rodape;
   display: flex;
   justify-content: space-evenly;
   height: 100%;
   box-sizing: border-box;
}

/* Separações do Rodapé */

.parte1, .parte2, .parte3 {
   width: 35%;
   background-color: #1b7b88;
}

.parte2 {
   width: 50%;
}

.parte3 {
   margin: 0;
}
